@use "variables"

*
  cursor: none !important

html, body
  height: 100%
  overflow-x: hidden
  cursor: none

body
  margin: 0
  padding: 0
  background: variables.$background-color
  color: variables.$text-color
  cursor: none


.app-layout
  min-height: 100vh
  display: flex
  flex-direction: column

.app-content
  flex: 1
