@use "variables"

@font-face
    font-family: 'Blanka'
    src: url('/fonts/Blanka.otf') format('opentype')
    font-weight: normal
    font-style: normal

.NotFound
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    &__title
        font-size: 10rem
        font-weight: 900
        margin: 0
        background-image: linear-gradient(270deg, variables.$purple-color, variables.$magenta-color)
        background-clip: text
        -webkit-text-fill-color: transparent
        font-family: 'Blanka', sans-serif

    &__subtitle
        font-size: 2rem
        margin: 0

        @media (max-width: 768px)
            font-size: 1.3rem

    &__message
        font-size: 1.5rem

    &__link
        display: block
        width: fit-content
        font-weight: 700
        text-decoration: none
        margin-top: 1rem
        padding: 0.5rem 1rem
        border: none
        border-radius: 0.5rem
        background: linear-gradient(270deg, variables.$purple-color, variables.$magenta-color)
        font-size: 1.2rem
        cursor: pointer
        color: white
        margin-top: auto
